/* Journey to the center of the Earth Practicum */
/* Anthony Picon */
/** {
    border: 1px solid;
}*/

body {
    background-color: #765729;
   
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: brown;
    text-decoration: overline;
}
span[lang-fr], span[langeis], span[lang-it] {
    font-style: italic;
}

.character {
    font-weight: bold;
}
h2 {
    border-bottom: 1px dashed black;
}
header, nav, main, aside, footer, #hero {
    margin: .25rem;
    padding: 1.25em;
    background-color: rgba(255,255,255,.75);
    border: 2px solid #886644;
    box-shadow: 10px 10px 25px rgba(0,0,0, .5)inset;
}
header{
    text-align: center;
    background-image:url(../img/cave.jpg);
    background-position:center;
    background-size:100%;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
    box-shadow: 20px 20px 20px black;
    padding: Opx;
}
header h1 {
    padding: 10px;
    color: #fff;
    font-family: georgia;
    text-shadow: 5px 5px 5px black;
}
nav ul {
list-style: none;
margin-top:0px;
margin-left: 0;
margin-bottom: 0;
padding-left: 0;
text-align:center;
}
nav li {
display: inline;
margin-left: 0;
border-left: 3px double black;
padding-left: 1rem;
padding-right: 1rem;
}
#cover {
    width:200px;
    float:left;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
}
footer {
    text-align: center;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;

}
#cryptogram {
    text-align:right;
}
 #cryptogram img {
    width:100%;
    max-width:30rem;
    padding-right: 5rem;
    }

 #cryptogram figcaption {
    font-style:italic;
    text-align: center;
    }
   
.submission {
    border-style: solid;
    margin: 10px;
   
    
}
@media screen and (min-width:768px) {
    aside{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        
    }
    aside h2 {
        grid-column: 1/-1;
        text-align: left;
    }
}